<div class="container header">
      <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-7 col-lg-7 logo">
          	<a href="{{site.baseurl}}/">
          		<img class="img-responsive" src="{{ "/images/kmc_logo.svg" | prepend: site.baseurl }}" />
          	</a>
          </div>
          <div class="col-xs-10 col-sm-7 col-md-5 col-lg-5 col-xs-offset-1 col-md-offset-0 col-sm-offset-0 contact-header">47 Lower New Street, Killarney, Co. Kerry<br/><span>Opening Hours</span> : 8-6 Mon/Fri and 9-1 Sat<br/><hr><span>Call: (064) 662 0628</span></div>
      </div>
  </div>

{% include navigation.html %}