<picture>
    <source media="(max-width: 550.0px)" srcset="/images/resized/400/{{ resized[0].basename }}">
    <source media="(max-width: 768.0px)" srcset="/images/resized/400/{{ resized[0].basename }}">
    <source media="(max-width: 980.0px)" srcset="/images/resized/580/{{ resized[0].basename }}">
    <source media="(max-width: 1199.0px)" srcset="/images/resized/400/{{ resized[0].basename }}">
    <source media="(max-width: 1540.0px)" srcset="/images/resized/580/{{ resized[0].basename }}">
    <source media="(min-width: 2000.0px)" srcset="/images/resized/780/{{ resized[0].basename }}">
    <img class="img-responsive" src="/images/resized/400/{{ resized[0].basename }}">
</picture>