
/* Copyright 2015 Killarney Medical Centre */

.no-padding {
  padding: 0;
}

.navbar-blue {
  background: linear-gradient(#343f94, #262e6d) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#343f94), color-stop(100%,#262e6d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #343f94 0%,#262e6d 100%); /* Chrome10+,Safari5.1+ */
}

.navbar-blue .navbar-nav>li>a {
  color: #fff;
}

.navbar-blue .nav > li > a:focus, 
.navbar-blue .nav > li > a:hover {
  text-decoration: none;
  background-color: #262e6d;
}

.navbar-blue#slide-nav .navbar-toggle > .icon-bar {
  background-color: #fff;
}

.navbar-blue .navbar-brand {
  color: #fff;
}

nav + .container {
  margin-top: 50px;
}


body {
  font-family: 'Domine', serif;
  color: #1f3777;
}

.blueBG {
  background: linear-gradient(#343f94, #262e6d) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#343f94), color-stop(100%,#262e6d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #343f94 0%,#262e6d 100%); /* Chrome10+,Safari5.1+ */

}

@media (min-width: 768px) {

  .navbar {
    margin-top: 40px;
  }
}

.navbar .container {
  padding: 0;
}

.nav li {
  font-size: 16px;
}

.navbar-nav > li:first-child a {
  padding-left: 0;
}

.logo img {
  margin-left: 15px;
}

.breadcrumb {
  background-color: #fff;
  margin-bottom: 10px;
}


/* Carousel */

.carousel-container {
  padding: 0px;
  margin-top: 20px;
}

.owl-carousel {
  padding-top: 0px;

  .item {        
    margin: 0px 20px 0px 5px;
    min-height: 500px;
  }

  .carousel-information {
    /*background-color: #ff00ff;*/
  }

}

@media (max-width: 1199px) {
  .owl-carousel .carousel-image-wrapper {
    overflow: hidden;
    height: 199px;
  }
}

@media (min-width: 1200px) {
  .owl-carousel .carousel-image-wrapper {
    overflow: hidden;
    height: 230px;
  }
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;

    span {
      background: none repeat scroll 0 0 #869791;
      border-radius: 20px;
      display: block;
      height: 12px;
      margin: 5px 7px;
      opacity: 0.5;
      width: 12px;
  }
}

.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

.owl-carousel a:hover {
  text-decoration: none;
}

.owl-carousel h1, .owl-carousel h2 {
  color: #fff;
  font-family: 'superclarendonregular';
  font-weight: normal;
  margin: 0;
}

.owl-carousel h1 {
  font-size: 28px;
  padding: 20px 20px 0px 20px;
}

.owl-carousel h2 {
  font-size: 24px;
  color: #8aabf6;
  padding: 5px 20px 10px 20px;
}

.owl-carousel p {
  color: #fff;
  font-size: 14px;
  font-family: 'domine', georgia, times;
  line-height: 21px;
  padding: 0px 20px 20px 20px;
}

/* End of Carousel */



.header {
  padding-top: 50px;
}

@media (max-width: 768px) { 
  .header {
    padding-top: 80px;
  }
}

.header .contact-header {
  margin-top: 15px;
  font-family: times;
  font-weight: normal;
  text-align: right;
  font-size: 18px;
  line-height: 28px;
  color: #646464;
}

.header .contact-header span {
  font-size: 20px;
  color: #262e6d;
}

.header hr {
  margin: 6px 0;
}

.header div[class*="col-"],
.topnav div[class*="col-"] {
  padding: 0px;
}


.feature-content {

}

.feature-content p {
  margin: 20px 80px 20px 0px;
}

.vasectomy-kerry {
  border: 25px solid #eee; 
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 30px 30px 20px 30px;
  font-family: "Gill Sans";
  color: #000;

  h2 {
    margin-top: 25px;
  }

  p {
    font-size: 18px;
    color: #555555;
  }

  h4 {
    color: #454545;
  }

  #logo {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

/* Small */
@media (max-width: 768px) {

  .vasectomy-kerry {
    padding: 0px;

    h2 {
      margin-top: 0px;
    }

    #logo {
      margin-bottom: 10px;
    }
  }
}

.client-logos {
  
  > div {
    text-align: center;
  }
  
  img {
    width: 200px;
    margin: 0px auto;
  }
}

/* Services Page */

.service-page {
  margin-top: 50px;

  h1 {
    font-size: 30px;
    margin-bottom: 40px;
  }
}

.service-items a {
  text-decoration: none;
}

.service-item {
  background-color: #fff;
  box-shadow: 0px 0px 10px #ccc;
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
}

/* Small */
@media (max-width: 768px) {
  .service-page h1 {
    text-align: center;
  }
}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
  .service-items > div:nth-child(3n+2) {
    /*margin-top: 25px;*/
  }
}

/* Large */
@media (min-width: 1200px) {
  .service-items > div:nth-child(even) {
    /*margin-top: 25px;*/
  }  
}

.page-header {
  min-height: 200px;
}

.service-header-title h1 {
  color: #fff;
  margin-top: 50px;  
  text-indent: 20px;  
}

/* Small */
@media (max-width: 768px) {  
  .service-header-title h1 {
    text-align: center;
    margin-top: 20px;
  }

  .service-header-title h2 {
    text-align: center;    
  }
}

@media (max-width: 992px) {
  .service-header-title h1 {
    text-align: center;
    margin-top: 20px;
  } 

  .service-header-title h2 {
    text-align: center;    
  }
}

.service-header-title h2 {
  font-size: 28px;
  color: #8aabf6;
  margin: 10px 20px 10px 20px;
}

.service-header-image {
  display: none;
  overflow: hidden;
  max-height: 200px;
  background-color: #fff;
}

@media (max-width: 768px) {
  .service-header-image {
    padding-top: 20px;
    max-height: 400px;

      img {
        width: 100%;
      }
  }
}

@media (max-width: 992px) {
  .service-header-image {
    padding-top: 20px;
    max-height: 400px;
    padding-left: 0;
    padding-right: 0;

      img {
        width: 100%;
      }
  }
}

.service-content {
  margin-top: 20px;

  p {
    line-height: 25px;
    font-size: 15px;
    margin-top: 20px;
  }

  h3 + p {
    margin-top: 15px;
  }

  ul + h3 {
    margin-top: 40px;
  }

  p + h3 {
    margin-top: 30px;
  }

}

.service-body ul {
  padding: 20px;
  margin-top: 30px;
  background-color: #E9F3F9;
  padding: 20px 20px 20px 40px;
}

.service-body ul li {
  padding: 5px;
  font-size: 16px;
}

.helpful-links {
  background-color: #eeeeee;
  padding: 10px 20px;
}

.helpful-links h3 {
  color: #333;
  font-size: 18px;
  font-family: "domine", "superclarendonregular", georgia, times;
}

.services-nav {
  margin-left: 20px;
}

.services-nav ul {
  list-style-type: none;
  margin: 0px 0px 0px 10px;
  padding: 0;
}

.services-nav ul li {
  padding: 8px 0px 0px 0px;
}

.services-nav ul li a {
  font-size: 16px;
  color: #1f3777;
}

.affix {
  top: 10px;
}
.affix-bottom {
  position: absolute;
}



.service-item .service-item-content {
  overflow: hidden;
  height: 320px;

  h2 {
    font-size: 25px;
    font-family: "superclarendonregular", georgia, times;
    line-height: 30px;
    margin-bottom: 20px;
    color: #2e4f99;
    min-height: 60px;
  }

  h3 {
    min-height: 60px;
    font-size: 20px;
    color: #474b53;
    font-family: georgia, "superclarendonregular", times;
  }

}

/* Small */
@media (max-width: 768px) {
  .service-item .service-item-content {
    height: auto;

    img {
      width: 100%;
    }

    h2 {
      min-height: auto;
      margin-bottom: 0px;
    }

    h3 {
      display: none;
    }
  }
}


.fee-content table tr td:nth-child(even) {
  width: 110px;
  text-align: center;
}


.fee-content h3 {
  margin-top: 50px;
}

.fee-content .img-container {
  height: 150px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;

  img {
    position: absolute;
    top: -40px;
    left: 0px;
  }
}

.profile {
  margin: 60px 0px;
}

.profile-photo img {
  margin: 0 auto;
}

.profile-photo p {
  font-size: 12px;
  margin-top: 20px;
  color: #333;
}

.profile-text p {
  font-size: 15px;
  line-height: 25px;
  color: #5E5E5F;
}

@media (max-width: 992px) {
  .profile-text {
    margin-bottom: 50px;
  }
}

@media (max-width: 1200px) {
  .profile-text {
    margin-bottom: 50px;
  }
}

/* Small */
@media (max-width: 768px) {
  .profile-photo p {
    text-align: center;    
  }
  .profile-text h2 {
    text-align: center;
  }
}


/* Footer */

.footer {
  margin: 100px 0px 0px 0px;
  padding-bottom: 50px;
  padding-top: 10px;
  display: block;
  width: 100%;
  border-top: 20px solid #343f94;
  background: linear-gradient(#262e6d, #262e6d) !important;

  ul {
    list-style: none;
    margin-top: 40px;
    float: left;
  }

  ul li {
    margin-bottom: 5px
  }

  ul li a {
    color: #BFCCFF;
    font-family: arial, helvetica;
    font-size: 13px;
  }

  p {
    font-size: 14px !important;
    color: #fff;
  }

  .divider {
    padding-right: 20px;
    border-right: 1px solid #BFCCFF;
  }

  .copyright {
    text-align: center;
  }

}

/* Media Queries */


@media (max-width: 767px) {
  .logo img {
    margin: 0px auto;
  }

  .owl-controls {
    display: none !important;
  }

  .owl-carousel .item {
    margin-right: 0px;
  }

  .header .contact-header {
    text-align: center;
  }

}




